* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body, .box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px; }

.box {
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  display: flex;
  color: #9D9D9D;
  font-weight: bold; }
  header span:nth-child(1) {
    width: 25%;
    display: block;
    margin-left: 25%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18px; }
  header span:nth-child(2) {
    width: 25%;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px; }
  header i {
    text-align: right;
    display: block;
    width: 20%;
    height: 60px;
    line-height: 60px; }

section {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  background: #F3F3FE; }
  section .swiper-container {
    width: 100%;
    heigth: 180px;
    overflow: hidden; }
    section .swiper-container .swiper-wrapper {
      width: 100%;
      height: 180px; }
      section .swiper-container .swiper-wrapper .swiper-slide {
        width: 100%;
        height: 180px; }
        section .swiper-container .swiper-wrapper .swiper-slide img {
          width: 100%;
          height: 180px; }
    section .swiper-container .swiper-pagination-bullet {
      border-radius: 0;
      width: 20px;
      height: 5px;
      background: #00A265; }
  section .list {
    width: 100%;
    height: 80px;
    display: flex;
    background: #fff; }
    section .list dl {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      section .list dl dt {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 10px;
        color: #fff; }
      section .list dl dd {
        font-size: 14px;
        margin-top: 5px;
        color: #3F3F3F; }
  section .banner {
    width: 100%;
    height: 70px; }
    section .banner img {
      width: 100%;
      height: 70px; }
  section .headline1 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    background: #fff;
    color: #3F3F3F; }
  section .listicon {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    section .listicon li {
      width: 25%;
      height: 80px;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #F3F3FE; }
      section .listicon li span {
        margin-top: 5px;
        font-size: 14px;
        color: #3F3F3F; }
  section .headline2 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
    margin-top: 20px;
    background: #fff; }
    section .headline2 .spn1 {
      margin-left: 20px; }
    section .headline2 .spn2 {
      position: absolute;
      right: 10px;
      top: 5px; }
      section .headline2 .spn2 span {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #555555;
        border-radius: 5px;
        line-height: 30px;
        text-align: center; }
  section .loveCar {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap; }
    section .loveCar li {
      width: 50%;
      height: 180px; }
      section .loveCar li p {
        width: 80%;
        margin-left: 10%; }
        section .loveCar li p img {
          width: 100%;
          height: auto; }
      section .loveCar li .nameCar {
        color: #5E5E5E; }
      section .loveCar li .contentCar {
        color: #CDCDCD;
        font-size: 12px;
        margin-top: 5px; }
      section .loveCar li .priceCar {
        color: #FC7237;
        margin-top: 5px; }
  section .swiper-container2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff; }
    section .swiper-container2 .swiper-wrapper {
      width: 100%;
      height: 120px; }
      section .swiper-container2 .swiper-wrapper .swiper-slide {
        width: 100%;
        height: 120px; }
        section .swiper-container2 .swiper-wrapper .swiper-slide img {
          width: 100px;
          height: 100%; }
  section .lis {
    width: 40%; }
  section .huodong {
    width: 100%;
    display: flex;
    height: 160px;
    background: #fff; }
    section .huodong li {
      flex: 1; }
      section .huodong li .bb {
        margin-left: 10%;
        margin-top: 5px; }
      section .huodong li .red {
        color: #FB6624;
        margin-left: 10%;
        margin-top: 5px; }
      section .huodong li img {
        width: 90%;
        margin-left: 5%;
        height: auto; }
  section .btnRelode {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ccc; }

footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #ccc;
  display: flex; }
  footer dl {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; }
    footer dl dt {
      font-size: 18px; }
    footer dl dd {
      font-size: 14px;
      color: #9D9D9D; }

.bj {
  color: #474747; }

/*# sourceMappingURL=style.css.map */
